.item1 { grid-area: header; }
.item2 { grid-area: project1; }
.item3 { grid-area: project2; }
.item4 { grid-area: project3; }
.item5 { grid-area: about; }

.container {
  margin: 0 auto;
  width: 60vw
}

h1 {
  font-size: 50px;
  font-family: 'Castoro Titling', cursive;
  font-weight: lighter;
}

p {
  font-size: 20px;
  font-family: 'Cormorant Garamond', serif;
}

.app-logo {
 width: 20vw;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'about project1'
    'about project2'
    'about project3';
  gap: 40px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  height: auto;
}

.item1 {
  box-shadow: inset 5px -5px 10px -5px #000000;
  padding: 20px 0;
}

.item2 {
  width: 30vw;
  aspect-ratio: 1 / 1;
  box-shadow: inset 5px -5px 10px -5px #000000;
  padding: 20px 0;
  text-align: center;
}

.item3 {
  width: 30vw;
  aspect-ratio: 1 / 1;
  box-shadow: inset 5px -5px 10px -5px #000000;
  padding: 20px 0;
  text-align: center;
}

.item4 {
  width: 30vw;
  aspect-ratio: 1 / 1;
  box-shadow: inset 5px -5px 10px -5px #000000;
  padding: 20px 0;
  text-align: center;
}

.item5 {
  width: 30vw;
  box-shadow: inset 5px -5px 10px -5px #000000;
  padding: 50px 50px 50px 50px;
  text-align: left;
}


.petland-header {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.star-crossed-header {
  font-family: monospace;
  font-size: 30px;
}

.logo-gif {
  width: 15vw
}


button {
  background-color: thistle;
  font-family: monospace;
  font-size: 20px;
  border-radius: 100px;
  border-width: 10px;
  border-color: rgba(155, 154, 229, 0);
  height: 10vh;
  width: 10vw;
}
